header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #aaa;
}

body{
  margin: 0;
}
header nav{
  margin: 0px 20px;
  display: flex;
  align-items: center;
}
.left img {
  width: 10%;
  height: 10%;
  margin: 0;
}
header nav ul{
  list-style-type: none;
  margin: 0;
  display: flex;
  align-content: center;
}
header nav li{
  margin: 0px 10px;
}
header nav li a{
  text-decoration: none;
  color: #000;
  margin: 0;
}
