<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local TTS Settings</title>
    <link rel="stylesheet" href="styles/header.css">
</head>
<body>
    <header>
        <nav class="left">
            <img src="../static/tiktok.png" alt="" />
            <h2 class="title">Tiktok Local TTS</h2>
        </nav>
        <nav class="right">
            <ul>
                <li>
                    <a href="#">Settings</a>
                    </li>
                <li>
                    <a href="#">About</a>
                    </li>
                <li>
                    <a href="#">Issues</a>
                </li>
                <li>
                    <a href="#">GitHub</a>
                    </li>
            </ul>
        </nav>
    </header>
</body>
</html>